td .fa {
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
    color: #009688!important;
}

.tcenter {
    text-align: center
}
.myButton {
    float: right;
    width: 150px;
    border: 1px solid black;
    font-size: 12px
}