<!--
  Generated template for the PerfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
<ion-title>
 Perfil
</ion-title>
<ion-buttons end>
  <button (click)="cerrarsesion()" id="bAtras" ion-button clear>
    Cerrar Sesion
  </button>
</ion-buttons>
</ion-navbar>
</ion-header>

<ion-content  >
  <div *ngIf="editar">
  <h1>
    <ion-img class="circle-pic"  width="80" height="80" src="../../assets/imgs/img_usuarios/usuario.png"> </ion-img>
  </h1>

  <ion-card>
    <ion-card-header>
      Datos Personales
    </ion-card-header>
   

      <ion-grid>

      <ion-row class="fila" align-items-center>
        <ion-col id="lnombre">
          Nombre:
        </ion-col>
        <ion-col>
          <ion-item text-right >
          <ion-label floating id="nombre"  color="dark">
          </ion-label>
          <ion-input type="text"   required [disabled]="editar">
          </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="fila" align-items-center>
        <ion-col id="lusuario">
          Usuario:
        </ion-col>
        <ion-col>
          <ion-item text-right >
          <ion-label floating id="usuario" color="dark">
          </ion-label>
          <ion-input type="text" id="usuario2"  required [disabled]="editar">
          </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class = "fila" align-items-center>

        <ion-col id="lcorreo">
          Correo:
        </ion-col>

        <ion-col col-9>
          <ion-item text-right>
            <ion-label floating id="correo" color="dark">
            </ion-label>
            <ion-input [disabled]="editar"  id="email" type="email" required >  
            </ion-input>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row class = "fila" align-items-center>
        <ion-col id="ltelefono">
          Telefono:
        </ion-col>
        <ion-col>
          <ion-item text-right>
            <ion-label floating id="telefono" color ="dark" >
            </ion-label>
            <ion-input [disabled]="editar"  id="telefono2"  type="tel" required>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class = "fila" align-items-center>
        <ion-col>
          Fecha nac:
        </ion-col>
        <ion-col >
            <ion-item text-right>
                <ion-datetime color="dark" id="fechanac" [disabled]="editar" displayFormat="DD/MM/YYYY" [(ngModel)]="fechanac"></ion-datetime>
              </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class = "fila" align-items-center>
        <ion-col id="laltura">
          Estatura(cm):
        </ion-col>
        <ion-col>
          <ion-item text-right>
            <ion-label floating id="estatura" color="dark">
            </ion-label>
            <ion-input [disabled]="editar" id="estatura2"  min=120 max=250 type="number" required>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class = "fila" align-items-center>
        <ion-col id="lgenero">
          Genero:
        </ion-col>
        <ion-col text-right>
          <button text-right id="genero" ion-button clear color="dark" [disabled]="editar" (click)="cambiargenero()">
          </button>
        </ion-col>
      </ion-row>

    </ion-grid>

  </ion-card>
  <div id="finalp">

  </div>
</div>
<div  *ngIf="!editar">
<ion-list>
    <ion-item>
        <ion-label stacked>Nombre:</ion-label>
        <ion-input name="nombre2" [(ngModel)]="nombre2" floating id="nombre2" type="text" maxlength="10" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Apellido:</ion-label>
      <ion-input name="apellido2" [(ngModel)]="apellido2" floating id="apellido2"  type="text" maxlength="10" required></ion-input>
    </ion-item>
    <ion-item> 
        <ion-label stacked>Usuario:</ion-label>
        <ion-input name="usuario2" [(ngModel)]="usuario2" floating id="usuario2"  type="text" maxlength="14" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Contraseña(minimo 5 caracteres):</ion-label>
        <ion-input name="password2" [(ngModel)]="password2" floating id="password2"  type="password" minlength="5" maxlength="14" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Repetir contraseña:</ion-label>
        <ion-input name="password3" [(ngModel)]="password3" floating id="password3" type="password"  required></ion-input>
        
    </ion-item>
      <ion-item style="color:rgb(255, 0, 0)" class="alert alert-danger"  *ngIf="confirmarpas()">
        Las contrasenas no coinciden
      </ion-item>
    <ion-item>
        <ion-label stacked>Correo:</ion-label>
        <ion-input name="correo" [(ngModel)]="correo2"type="email" floating id="correo2" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>Telefono:</ion-label>
        <ion-input name="telefono2" [(ngModel)]="telefono2" floating id="telefono2" type='tel' required></ion-input>
    </ion-item>
    <ion-item>
          <ion-label stacked>Estatura(cm)</ion-label>
          <ion-input  name="estatura2" [(ngModel)]="estatura2" floating id="estatura2" min=120 max=250 type="number" required></ion-input>
    </ion-item>
    <ion-item>
          <ion-label stacked>Genero:</ion-label>
    </ion-item>
  <ion-col>
          <button ion-button id="genero2"    (click)="cambiargenero()">{{genero2}}
          </button>
  </ion-col>
</ion-list>
</div>
  <ion-fab right bottom>
      <button ion-fab color="secondary" (click)="editarperfil()">
          <ion-icon name="build" *ngIf="editar"></ion-icon>
          <ion-icon name="checkmark" *ngIf="!editar"></ion-icon>
      </button>
  </ion-fab>
 
</ion-content>