page-comentar-clase {
    .imagen {
        width: 80%;
        margin-left: 30px;;
    }
    .titulo {
        text-align: center;
        font-size: 20px;
    }
    .botonEnviar {
    // margin-left: 100px;
       height: 100px;
    }
}
