
header{
    text-align: center;
}
.circle-pic{
    width:50%;
    height:10%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
#lgenero{
    padding-top: 7%;
}
.fila{
    padding-top: 2%;
}
#finalp{
    height: 100px;
}
.inputf{
    padding-right: 08%;
}
.inputd{
    padding-right: 13%;
}