<!--
  Generated template for the AmigosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="secondary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Amigos
      </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="categorias">
      <ion-segment-button (click)=cargarAmigos() value="lista_amigos">
        Lista de Amigos
      </ion-segment-button>
      <ion-segment-button value="agregar_amigos">
        Agregar Amigos
      </ion-segment-button>
      <ion-segment-button value="invitar">
        Invitar
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>
<div [ngSwitch]="categorias">
  <ion-list  *ngSwitchCase="'lista_amigos'" >
    <ion-list-header *ngFor="let item of class" no-lines no-padding>
    <button ion-item ><ion-icon item-right name='mail'></ion-icon>{{item.nombre}} {{item.apellido}}</button > 
    </ion-list-header>
  </ion-list>

  <ion-list *ngSwitchCase="'agregar_amigos'" >
      <ion-item>
          <ion-label stacked>Nombre y apellido:</ion-label>
          <ion-input  name="usuario" [(ngModel)]="usuario" type="text" id="usuario" ></ion-input>
        </ion-item>
        <button ion-button icon-left block color="secondary" (click)="listaBuscar()">
            <ion-icon name="checkmark"></ion-icon>
          </button>

          <ion-list-header *ngFor="let item of buscar" no-lines no-padding>
              <button ion-item (click)="agregarAmigos(item.id)"><ion-icon item-right name='add'></ion-icon>{{item.nombre}} {{item.apellido}}({{item.usuario}})</button > 
              </ion-list-header>
  </ion-list>

  <ion-list *ngSwitchCase="'invitar'">
          <ion-item *ngFor="let contacto of listaContactos">
            <ion-avatar item-start>
              <img [src]="contacto.photos[0].value ">
            </ion-avatar>
            <h2>{{contacto.displayName }}</h2>
            <p>Dispositivo: {{contacto.phoneNumbers[0].type}} - Numero: {{contacto.phoneNumbers[0].value}}</p>
          </ion-item>
  </ion-list>
</div>



</ion-content>
