page-clase-particular {
    .imagenClase{
        margin-right: 10px;
    }
    .instructor{
        font-size: 20px;
    }
    .fecha{
        font-size: 15px;
    }
    .agregarClase{
        left:90px;
    }
}
